name: FortUTF Ubuntu LLVM 20

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v4
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '4.1.x'
      - name: Install LLVM
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 20
          sudo apt-get update
      - name: install Flang
        run: sudo apt install --no-install-recommends clang-20 flang-20
      - name: Build Tests
        run: |
            flang-20 --version
            cmake -H. -Bbuild -DBUILD_TESTS=ON -DBUILD_EXAMPLES=ON -DCMAKE_Fortran_COMPILER=$(which flang-20)
            cmake --build build
      - name: Run Tests
        run: |
             ./build/FortUTF_Tests
             if [ $? -eq 0 ]; then
                echo "Unit Tests completed successfully"
                exit 0
             else
                echo "Unit Tests failed"
                exit 1
             fi
      - name: Run Test List
        run: |
             ./build/FortUTF_Tests TEST_FAIL_EQUAL_CHAR TEST_EQUAL_CHAR
             if [ $? -eq 0 ]; then
                echo "Unit Tests completed succesfully"
                exit 0
             else
                echo "Unit Tests failed"
                exit 1
             fi
      - name: Run Example Tests
        run: |
             ./build/examples/demo_project/DEMO_PROJ_Tests || 
             if [ $? -eq 1 ]; then
                echo "Unit Tests failed as expected"
                exit 0
             else
                echo "Unit Tests that should fail passed"
                exit 1
             fi
      