name: FortUTF Windows GFortran 15

on: [push]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: 'Windows Latest'
    runs-on: 'windows-latest'
    steps:
      - uses: actions/checkout@v4
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '4.1.x'
      - name: Build and Run Tests
        run: |
            choco upgrade mingw --version="'15.1.0'" -y
            choco install -y make
            cmake -G "Unix Makefiles" -Bbuild -DBUILD_TESTS=ON
            cmake --build build
            ./build/FortUTF_Tests.exe

